.footerMain {
    background-color: #081831;
    /* background-image: url('../../public/Canada Skyline Icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; */
    color: white;
}
