.AnimationText{
    display: block;
    background: linear-gradient(to right, #ED1C24, #FCEC21);
    -webkit-background-clip: text;
    color: transparent;
    animation: wordsSlide 12s infinite;
}

@keyframes wordsSlide {
    8%{
        transform: translateY(-112%);
    }
    16%{
        transform: translateY(-100%);
    }
    24%{
        transform: translateY(-212%);
    }
    32%{
        transform: translateY(-200%);
    }
    40%{
        transform: translateY(-312%);
    }
    48%{
        transform: translateY(-300%);
    }
    56%{
        transform: translateY(-412%);
    }
    64%{
        transform: translateY(-400%);
    }
    72%{
        transform: translateY(-512%);
    }
    80%{
        transform: translateY(-500%);
    }
    88%{
        transform: translateY(-612%);
    }
    97%{
        transform: translateY(-600%);
    }
    100%{
        transform: translateY(-712%);
    }
    
}